<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>TravelSafe</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    -->
    <!-- Custom styles for this template 
    <link href="jumbotron.css" rel="stylesheet">
    -->
    
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- For the toggle switch -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    
    <!-- link css 
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    -->
    <!-- MAP RELATED STUFF -->
    <script src="../static/js/map.js"></script>
    <link href="../static/css/map.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TravelSafe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
            <li><a href="searchFlights">Find Flights</a></li>
            <li class="active"><a class="nav-link js-scroll-trigger" href="outbreakMap">Interactive Outbreak Map</a></li>
            <li><a class="nav-link js-scroll-trigger" href="nearMe.html">Near me</a></li>
            <li><a class="nav-link js-scroll-trigger" href="apiDocs.html">API documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Interactive Outbreak Map</h2>
        <p>Keep yourself informed on any outbreaks occurring at your destination in the past year.</p>
      </div>
    </div>

    <div class="container">
    <!-- Content goes here -->
      <form class="input">
        <input type="text" id="keywords" placeholder="Enter keyword(s)" value="" required>
        <input type="text" id="location" placeholder="Enter location" id="location" value="" required>   
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Advanced search options
        </button>  
        <button type="button" id="submit" type="sumbit" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">Search</button>
        <!-- advanced search collapse card "-->
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form>
              <label>Enter start date:</label>
              <!-- default value of start date is current date - 1 month. Set below in script tag-->
              <input type="date" id='start' placeholder="Enter start date" required >
              <label>Enter end date:</label>
              <!-- default value of end date = current date-->
              <input type="date" id="end" placeholder="Enter end date" required>
              <label>All news sources:</label>
              <input type="checkbox" id="toggle" data-toggle="toggle" >
            </form>
          </div>
          <script src="../static/js/getCurrentDate.js"></script>
          <script src="../static/js/subtractYear.js"></script>
        </div>
      </form>
      <!-- process form -->
      <script src="../static/js/submitSearchMap.js"></script>
      <div id="map"></div>
      <!-- Modal 
      <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal">
              <h5>Modal titledfdfdfdfdfdfdfdfdf</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      -->
      <!-- Modal -->
      <div class="modal" tabindex="-1" role="dialog" id="mymodal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Search results</h4>
              <!-- Modal close button -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Content ends here -->
      <hr>
      <footer>
        <p>&copy; 2021 Weekly Cri Sesh</p>
      </footer>
    </div> <!-- /container -->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd9bxIZ8hJ0jI9ia6vAcrhyFyF0cCi7-I&callback=initMap&libraries=&v=weekly"
    async
    ></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
