<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>TravelSafe</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- For the toggle switch -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 75vh;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding-top: 40px;
      }

      #latlng {
        width: 225px;
      }
    </style>

    <script>
      function initMap() {
        const myLatlng = { lat: -25.363, lng: 131.044 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: myLatlng,
        });

        // Create geocoder
        const geocoder = new google.maps.Geocoder();

        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
          content: "Click your destination to see information on diseases and outbreaks.",
          position: myLatlng,
        });
        infoWindow.open(map);

        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
          // Close the current InfoWindow.
          infoWindow.close();
          // Create a new InfoWindow.
          infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
          });

          const latlng = {
            lat: parseFloat(mapsMouseEvent.latLng.toJSON().lat),
            lng: parseFloat(mapsMouseEvent.latLng.toJSON().lng),
          };
          
          // This converts the latitude/longitude information to country
          geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
              if (results[results.length - 2]) {
                // Country cannot be accessed outisde of this listener, 
                // so maybe put the function for location input in here
                // or save to local storage and use it that way.
                country = results[results.length - 2].formatted_address;
                infoWindow.setContent(country);
                infoWindow.open(map);
                // put country selected into location input box
                document.getElementById('location').value=country;
              } else {
                window.alert("No results found");
              }
            } else {
              infoWindow.setContent("Not a country!");
              infoWindow.open(map);
            }
          });

        });
      }

    </script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TravelSafe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
            <li class="active"><a class="nav-link js-scroll-trigger" href="searchNews.html">Search health risks</a></li>
            <li><a class="nav-link js-scroll-trigger" href="nearMe.html">Near me</a></li>
            <li><a class="nav-link js-scroll-trigger" href="apiDocs.html">API documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <!-- Content goes here -->
      <form>
        <input type="text" id="keywords" placeholder="Enter keyword(s)" value="" required>
        <input type="text" id="location" placeholder="Enter location" id="location" value="" required>   
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Advanced search options
        </button>  
        <button type="button" id="submit" type="sumbit" class="btn btn-primary" >Search</button>
        <!-- advanced search collapse card -->
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form>
              <label>Enter start date:</label>
              <!-- default value of start date is current date - 1 month. Set below in script tag-->
              <input type="date" id='start' placeholder="Enter start date" required >
              <label>Enter end date:</label>
              <!-- default value of end date = current date-->
              <input type="date" id="end" placeholder="Enter end date" required>
              <label>Google news articles:</label>
              <input type="checkbox" id="toggle" data-toggle="toggle" >
            </form>
          </div>
          <script>
            // script to get current date - put this value as end date
            var d1 = new Date();
            var y1= d1.getFullYear() - 1;//remove - 1 later
            var m1 = d1.getMonth()+1;
            if(m1<10)
              m1="0"+m1;
            var dt1 = d1.getDate();
            if(dt1<10)
              dt1 = "0"+dt1;
            var d2 = y1+"-"+m1+"-"+dt1;
            document.getElementById('end').value=d2;
          </script>
          <script>
            // gets date less 1 month - not sure if it works around january
            var d1 = new Date();
            var y1= d1.getFullYear() - 1; //remove - 1 later
            var m1 = d1.getMonth();
            if(m1<10)
              m1="0"+m1;
            var dt1 = d1.getDate();
            if(dt1<10)
              dt1 = "0"+dt1;
            var d2 = y1+"-"+m1+"-"+dt1;
            document.getElementById('start').value=d2;
          </script>
        </div>
      </form>
      <!-- process form -->
      <script>
        let submit = document.getElementById("submit")
        //value = button.form.valueId.value;
        submit.onclick = function() {
          let keywords = document.getElementById("keywords").value
          let location = document.getElementById("location").value
          let start = document.getElementById("start").value + "T00:00:00"
          let end = document.getElementById("end").value + "T00:00:00"
          //let toggle = document.getElementById("toggle")
          let url = "http://seng3011.pythonanywhere.com/articles?" + "startDate=" + start + "&endDate=" + end 
          if (keywords != "") {
            url += "&keywords=" + keywords 
          } else if (location != "") {
            url += "&location=" + location
          }
          const request = new Request(url);
          fetch(request)
            .then(response => {
              console.log(response)
            if (response.status === 200) {
              //console.log(response.headers)
              return response.json();
            }
             else {
              throw new Error('Something went wrong on api server!');
            }
            }).then((json) => {
              console.log(json[0])
              let i = 0
              while (json[i]) {
                // do stuff
              }
            })
            .then(response => {
              //console.debug(response);
            // ...
            }).catch(error => {
              console.error(error);
            })
          }
      </script>
      <div id="map"></div>

    <!-- Content ends here -->
      <hr>
      <footer>
        <p>&copy; 2021 Weekly Cri Sesh</p>
      </footer>
    </div> <!-- /container -->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd9bxIZ8hJ0jI9ia6vAcrhyFyF0cCi7-I&callback=initMap&libraries=&v=weekly"
    async
    ></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
