<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>TravelSafe</title>
    <!-- MAP RELATED STUFF -->
    <script src="../static/js/map.js"></script>
    <link href="../static/css/map.css" rel="stylesheet">
    {% if riskScore > 0 %}
      <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
      </script>
    {% endif %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TravelSafe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
            <li class="active"><a class="nav-link js-scroll-trigger" href="searchFlights">Find Flights</a></li>
            <li><a class="nav-link js-scroll-trigger" href="outbreakMap">Interactive Outbreak Map</a></li>
            <li><a class="nav-link js-scroll-trigger" href="nearMe.html">Near me</a></li>
            <li><a class="nav-link js-scroll-trigger" href="apiDocs.html">API documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <!-- Content goes here -->
      <form class = "input" method="POST" action="/searchFlights">
        <input type="text" name="origin" placeholder="Enter origin" value="" required>
        <input type="text" name="destination" placeholder="Enter destination" value="" required>
        <label>Select Departure Date:</label>   
        <!-- default value of start date is current date - 1 month. Set below in script tag-->
        <input type="date" name='start' placeholder="Enter departure date" required >
        <input type="submit" value="Search">
      </form>
      <div id="flightResults">
        {% if flightFlag == 1 %}
          <h4>Available Flights from {{ origin }} to {{ dest }}</h4>
          <ul class="list-group">
            {% for flight in flights %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {% if riskScore > 10 %}
                  <span class="badge alert-danger rounded-pill"><h4>High Risk</h4></span>
                {% elif riskScore > 3 %}
                  <span class="badge alert-warning rounded-pill"><h4>Medium Risk</h4></span>
                {% elif riskScore > 0 %}
                  <span class="badge alert-warning rounded-pill"><h4>Low Risk</h4></span>
                {% else %}
                  <span class="badge alert-success rounded-pill"><h4>Safe to Travel</h4></span>
                {% endif %}
                <b>Flight Number: {{ flight.get("flight_number")}}</b>
                <br>
                Departure Date: {{ flight.get("depart_date")}}
                <br>
                Price: AUD${{ flight.get("price")}}
              </li>
            {% endfor %}
          </ul>
        {% elif flightFlag == 2 %}
          <h4>No Available Flights from {{ origin }} to {{ dest }}</h4>
          <h6>Please choose a different departure date.</h6>

        {% elif flightFlag == 3 %}
          <h4>No Available Flights</h4>
          <h6>Please check the spelling of origin and destination as they don't result in real cities.</h6>
        {% endif %}
      </div>
      <!-- Modal -->
      {% if riskScore > 0 %}
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h2 class="modal-title col-md-8" style="padding-left: -50px;">
                        Travel Warning: 
                        {% if riskScore > 10 %}
                          High Risk
                        {% elif riskScore > 3 %}
                          Medium Risk
                        {% else %}
                          Low Risk
                        {% endif %}
                      </h2>
                      <button type="button" class="close col-md-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <h4>
                      {% if riskScore > 10 %}
                        No travel recommended to {{ dest }}.
                      {% elif riskScore > 3 %}
                        Avoid travel to {{ dest }}.
                      {% else %}
                        Take additional precautions while travelling to {{ dest }}.
                      {% endif %}
                    </h4>
                    <h5>Our Algorithm has given a Risk Score of {{ riskScore }}!</h5>
                    <h5>Details about the related outbreaks are below</h5>
                  <ol class="list-group">
                    {% for article in articles %}
                      <div class="article row" style="border-top: lightgrey; border-bottom: lightgrey; border-left: white; border-right: white; border-style: solid; border-width: 1px">
                        <div style="overflow: hidden">
                          <a style="font-size: 15px" href="{{ article.url }}">{{ article.headline }}</a>
                          <br>
                          {{ article.date_of_publication[0:10]  }}
                          <h5>{{ article.main_text[0:538] }} ...</h5>
                          <p>Source: {{ article.url }}</p>
                        </div>
                      </div>
                    {% endfor %}
                  </ol>
                 </div>
              </div>
          </div>
      </div>
      {% endif %}
    <!-- Content ends here -->
      <hr>
      <footer>
        <p>&copy; 2021 Weekly Cri Sesh</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
