<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body  {
        background-image: url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <title>TravelSafe</title>

    <!-- For the toggle switch -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    
    <!-- link css 
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    -->
    <!-- MAP RELATED STUFF 
    <script src="../static/js/map.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCWeQqmIBeMj0-HG79MNSNZe8Uxogxx8f4"></script>
    -->
    <script src="../static/js/showhotels.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="../static/css/map.css" rel="stylesheet">
    {% if riskScore > 0 %}
      <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
      </script>
    {% endif %}
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TravelSafe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
            <li class="active"><a class="nav-link js-scroll-trigger" href="planTrip">Plan Trip</a></li>
            <li><a class="nav-link js-scroll-trigger" href="outbreakMap">Interactive Outbreak Map</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% if flightFlag == 0 %}
    <div class="container" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 10px;">
      <h1 style="font-size:80px;">Plan Your Trip...</h1>
      <br>
    {% else %}
    <div class="container">    
    {% endif %}
    {% if flightFlag == 0 %}
      <div class="row">
        <div class="col-sm-10">
          <form class = "input" method="POST" action="/planTrip">
            <div class="input-group input-group-lg">
              <div class="input-group-addon">
                <span class="input-group-text" id="inputGroup-sizing-lg">Origin</span>
              </div>
              <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="origin" placeholder="Please Enter" id="originField" required>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <div class="input-group-addon">
                <span class="input-group-text" id="inputGroup-sizing-lg">Destination</span>
              </div>
              <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="destination" placeholder="Please Enter" id="destField" required>
            </div>
            <br>
            <div class="input-group input-group-lg">
              <div class="input-group-addon">
                <span class="input-group-text" id="inputGroup-sizing-lg">Departure Date</span>
              </div>
              <input type="date" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" type="date" name='start' id="departDateField" required>
              <script>
                  var today = new Date();
                  var dd = today.getDate();
                  var mm = today.getMonth() + 1; //January is 0!
                  var yyyy = today.getFullYear();
                  if (dd < 10) {
                    dd = '0' + dd
                  }
                  if (mm < 10) {
                    mm = '0' + mm
                  }
                  today = yyyy + '-' + mm + '-' + dd;
                  document.getElementById("departDateField").setAttribute("min", today);
                  document.getElementById("departDateField").setAttribute("value", today);
                </script>
            </div>
            <br>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Search" id="submit">
          </form>
        </div>
    {% else %}
      <div class="row">
        <div class="col-sm-10">
          <form class = "input" method="POST" action="/planTrip">
            <div class="row">
              <div class="col-sm-3">
                <input class="form-control" id="originField" type="text" name="origin" placeholder="Enter origin" value="" required>
              </div>
              <div class="col-sm-3">
                <input class="form-control" id="destField" type="text" name="destination" placeholder="Enter destination" value="" required>
              </div>
              <div class="col-sm-2">
                <label for="departDateField">Departure Date:</label>
              </div>
              <div class="col-sm-3">
                <input class="form-control" id="departDateField" type="date" name='start' required>
                <script>
                  var today = new Date();
                  var dd = today.getDate();
                  var mm = today.getMonth() + 1; //January is 0!
                  var yyyy = today.getFullYear();
                  if (dd < 10) {
                    dd = '0' + dd
                  }
                  if (mm < 10) {
                    mm = '0' + mm
                  }
                  today = yyyy + '-' + mm + '-' + dd;
                  document.getElementById("departDateField").setAttribute("min", today);
                  document.getElementById("departDateField").setAttribute("value", today);
                </script>
              </div>
            </div>
            <br><input class="btn btn-primary" type="submit" value="Search" id="submit">
          </form>
        </div>
    {% endif %}
        <div class="col-sm-2">
          <!-- Help button for Help Modal -->
          {% if flightFlag == 1 %}
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#helpModal">Help</button>
          {% endif %}
          <!-- Modal -->
          <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <br>
                  <h2 class="modal-title" id="helpModalLabel">Risk Calculation</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="container" id="helpModalHighRisk">
                        <div class="row">
                          <div class="col-sm-1">
                            <span class="badge alert-danger rounded-pill"><h5>High Risk</h5></span>
                          </div>
                          <div class="col-sm-4">
                            <p>We do not recommend any travel to this destination. There has been a recent outbreak, or several outbreaks over the past year. If there are no outbreaks between now and a potential flight, the risk will be lower.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="container" id="helpModalMildRisk">
                        <div class="row">
                          <div class="col-sm-1">
                            <span class="badge alert-warning rounded-pill"><h5>Mild Risk</h5></span>
                          </div>
                          <div class="col-sm-4">
                            <p>We recommend caution travelling to these destinations. Do not travel unless necessary. Wear mask at destination, ensure that you have done further investigation including vaccination options for outbreaks at your destination.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="container" id="helpModalLowRisk">
                        <div class="row">
                          <div class="col-sm-1">
                            <span class="badge alert-success rounded-pill"><h5>Low Risk</h5></span>
                          </div>
                          <div class="col-sm-4">
                            <p>Destination is safe for travel. There have been no outbreaks in the past year or the flight is far enough in the future that the destination likely will no longer be a risk.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <!-- Content goes here -->
      <div id="flightResults">
        {% if flightFlag == 1 %}
          <h3><b>Available Flights from {{ origin }} to {{ dest }}</b></h3>
          <ul class="list-group">
            {% for flight in flights %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {% if flight.get("risk_score") > 10 %}
                  <span class="badge alert-danger rounded-pill"><h4>High Risk: Do Not Travel</h4></span>
                {% elif flight.get("risk_score") > 0 %}
                  <span class="badge alert-warning rounded-pill"><h4>Mild Risk: Advise Against</h4></span>
                {% else %}
                  <span class="badge alert-success rounded-pill"><h4>Low Risk: Safe to Travel</h4></span>
                {% endif %}
                <h4> Departure Date: {{ flight.get("depart_date") }} at {{ flight.get("depart_time") }} UTC</h4>
                <h5> AUD${{ flight.get("price")}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Flight Number: {{ flight.get("flight_number")}}</h5>
<!-- Use this instead if searching countries instead
                <h5> AUD${{ flight.get("price")}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Flight Number: {{ flight.get("flight_number")}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Destination City: {{ flight.get("destination") }}</h5>
-->
              </li>
            {% endfor %}
          </ul>
        {% elif flightFlag == 2 %}
          <h4>No Available Flights from {{ origin }} to {{ dest }}</h4>
          <h6>Please choose a different departure date.</h6>

        {% elif flightFlag == 3 %}
          <h4>No Available Flights</h4>
          <h6>Please check the spelling of origin and destination as they don't result in real cities.</h6>
        {% endif %}
      </div>
      <!-- Modal -->
      {% if riskScore > 0 %}
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h2 class="modal-title col-md-8" style="padding-left: -50px;">
                        Travel Warning: 
                        {% if riskScore > 10 %}
                          High Risk
                        {% elif riskScore > 3 %}
                          Medium Risk
                        {% else %}
                          Low Risk
                        {% endif %}
                      </h2>
                      <button type="button" class="close col-md-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <h4>
                      {% if riskScore > 10 %}
                        No travel recommended to {{ dest }}.
                      {% elif riskScore > 3 %}
                        Avoid travel to {{ dest }}.
                      {% else %}
                        Take additional precautions while travelling to {{ dest }}.
                      {% endif %}
                    </h4>
                    <h5>Our Algorithm has given a Risk Score of {{ riskScore }}!</h5>
                    <h5>Details about the related outbreaks are below</h5>
                  <ol class="list-group">
                    {% for article in articles %}
                      <div class="article row" style="border-top: lightgrey; border-bottom: lightgrey; border-left: white; border-right: white; border-style: solid; border-width: 1px">
                        <div style="overflow: hidden">
                          <a style="font-size: 15px" href="{{ article.url }}">{{ article.headline }}</a>
                          <br>
                          {{ article.date_of_publication[0:10]  }}
                          <h5>{{ article.main_text[0:538] }} ...</h5>
                          <p>Source: {{ article.url }}</p>
                        </div>
                      </div>
                    {% endfor %}
                  </ol>
                 </div>
              </div>
          </div>
      </div>
      {% endif %}
      {% if flightFlag != 0 %}
      <br>
      <h3><b>Hotels at {{ dest }}</b></h3>
      <div id = "map"></div>
      <div id="mydiv" data-geocode='{{ dest }}'></div>
      {% endif %}

      <!-- Content ends here -->
      <div style="position:absolute; bottom:0; width:50%;">
        <hr>
        <footer>
            <p>&copy; 2021 Weekly Cri Sesh</p>
        </footer>
      </div>
    </div> <!-- /container -->


    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd9bxIZ8hJ0jI9ia6vAcrhyFyF0cCi7-I&callback=initMap&libraries=places&v=weekly"
    async
    ></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster --><!-- 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 -->
  </body>
</html>
